<div id="map">

    <!--aqui va todo del mapa-->

</div>
<div class="signal-direction"><a class="btn" href="#alertas">
        <p class="text-secondary m-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                class="bi bi-arrow-down-circle-fill" viewBox="0 0 16 16">
                <path
                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z" />
            </svg>
        </p>
        <span class="fs-5  text-secondary">Click para ver las alertas</span>
    </a>
</div>
<div class="h-100 pt-5">
    <section class="container mt-5">
        <div class="scrollable shadow mb-5 bg-body  rounded">

            <table id="alertas" class="table">

                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Daños</th>
                        <th scope="col">Nivel</th>
                        <th scope="col">Departamento</th>
                        <th scope="col">Municipio</th>
                        <th scope="col">Respuesta</th>

                    </tr>
                </thead>
                <tbody>
                    {{#each dataRows}}
                    <tr>
                        <td>{{nombre}}</td>
                        <td>{{descripcion}}</td>
                        <td>{{Daño.nombre}}</td>
                        <td>{{nivelAlerta}}</td>
                        <td>{{Ubicacion.departamento}}</td>
                        <td>{{Ubicacion.municipio}}</td>
                        <td>{{Medida.nombre}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>

        </div>
    </section>

</div>

<script src="/js/leaflet.js"></script>
<script src="/js/Control.MiniMap.min.js"></script>
<script src="/js/leaflet-beautify-marker-icon.js"></script>




<script>
    var southWest = L.latLng(11.651058, -89.929926),
        northEast = L.latLng(14.708478, -87.62146),
        bounds = L.latLngBounds(southWest, northEast);

    var map = L.map('map', {
        maxBounds: bounds

    }).setView([13.682016, -88.720093], 9);

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {

        maxZoom: 19,
        minZoom: 9,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);    
    
    //marcadore de alertas
    L.marker([13.682016, -88.720093]).addTo(map).bindPopup('El Salvador');
    
    //marcadores de alertas con propiedades funcional -->
     L.marker([13.89093747081252, -88.7734375], { icon: L.BeautifyIcon.icon(), draggable: true }).addTo(map).bindPopup("Prueba1");
        var options = {
            html: '<i class="material-icons">face</i>',
            iconAnchor: [11, 10]
        };

        L.marker([13.89093747081252, -88.8934375], { icon: L.BeautifyIcon.icon(options), draggable: true }).addTo(map).bindPopup("Prueba2");
        options = {
            icon: 'plane'
                , borderColor: '#8D208B'
                , textColor: '#8D208B'
                , backgroundColor: 'transparent'
        };// <-- Termina aqui el marcador de alertas con propiedad funcional 

        //NOTA LA VARIABLE OPTIONS DETERMINA COMO SE MOSTRARA

    // Agregar mapa base
    var carto_light = L.tileLayer('https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}{r}.png', {attribution: '©OpenStreetMap, ©CartoDB',subdomains: 'abcd',maxZoom: 24});

    //MiniMap
    var miniMap = new L.Control.MiniMap('map',
    {
        toggleDisplay: true,
        minimized: false,
        position: "bottomleft"
    }).addTo(map);

    // Agregar escala
    new L.control.scale({imperial: false}).addTo(map);
    
</script>


 
